[submodule "nvim_config"]
	path = nvim_config
	url = https://github.com/KushalPawaskar/nvim_config.git
[submodule "tmux_config"]
	path = tmux_config
	url = https://github.com/KushalPawaskar/tmux_config.git
[submodule "zsh_config/Personal/.oh-my-zsh"]
	path = zsh_config/Personal/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
